@import "tailwindcss";

@font-face {
    font-family: 'Nunito';
    src: url("/fonts/Nunito.ttf");
}

@font-face {
    font-family: 'QuickSand';
    src: url("/fonts/QuickSand.ttf");
}

@theme{
    --font-header: "QuickSand", sans-serif;
    --font-body: "Nunito", sans-serif;
}